body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://static.vecteezy.com/system/resources/previews/000/693/934/non_2x/dark-blue-technology-and-high-tech-abstract-background-vector.jpg );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
